@model Store.UI.Models.CartIndexViewModel

<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>



<h2>Shopping Cart</h2>
<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-md-10">
                <table id="cartTable" class="table detail-view">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th class="text-right">Price</th>
                            <th class="text-right">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var line in Model.Cart.Items)
            {
                            <tr>

                                <td>
                                    <img src="@Url.Content("~/Content/Images/")@line.Cloth.ImageThumbnailUrl" class="img-thumbnail-small" alt="clothes/@line.Cloth.Name" />
                                </td>
                                <td class="text-left">@line.Cloth.Name</td>
                                <td class="text-center">
                                    <input type="number" id="@line.Id" value="@line.Quantity" />

                                </td>
                                <td class="text-right">@line.Cloth.Price.ToString("C")</td>
                                <td class="text-right">@((line.Quantity * line.Cloth.Price).ToString("C"))</td>





                                <td>
                                    @using (Html.BeginForm("RemoveFromCart", "ShoppingCart"))
                                    {
                                        @Html.Hidden("ClothId", line.Cloth.Id)
                                        @Html.HiddenFor(x => x.ReturnUrl)
                                        <input class="btn btn-sm btn-warning" type="submit" id="RemoveBtn" value="&times;" />
                                    }
                                </td>

                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        @*<tr>
                            <td colspan="3" class="text-right">Total:</td>
                            <td class="text-right total">
                                @Model.Cart.CalculateTotalAmount().ToString("C")
                            </td>

                        </tr>*@

                        @Html.ActionLink("Print", "PrintPdf", null, new { @class = "btn btn-primary" })
                    </tfoot>
                </table>
            </div>
            <div class="col-md-2">
                <table>
                    <tr>
                        <td class="text-right price">Total:</td>
                        <td class="text-right total highlight">
                            @Model.Cart.CalculateTotalAmount().ToString("C")
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            @Html.ActionLink("Checkout now", "Checkout", null, new { @class = "btn btn-primary theme-btn" })
                        </td>
                    </tr>
                </table>
                
            </div>
        </div>
       <div class="row">
           <div class="col-md-12">
               <div class="text-center">
                   <a class="btn btn-primary" href="@Model.ReturnUrl">
                       Continue shopping
                   </a>
                   
               </div>
           </div>
       </div>
    </div>
    
    

</div>

@section script2{
    <script>
        //$(function () {
        //    $(":input").bind('keyup mouseup', function () {

        //        var id = this.id;
        //        var hid = '#' + id;
        //        $.ajax({
        //            type: 'POST',
        //            url: '/ShoppingCart/LineSubTotal',
        //            data: {
        //                quantity: $(hid).val(),
        //                lineId: id
        //            },
        //            success: function (data) {
        //                alert('good');
        //                $('#lsb').html(data);
        //            }
        //        });

        //    });
        //}
        //);
    </script>
    }