@model Store.UI.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/AccountLayout.cshtml";
    ViewBag.Title = "Login";
}



<div class="login login-1">
    <header class="login--header login-1--header text-center">
        <span class="icon icon-medium fa fa-lock"></span>
        <h3>login</h3>
        <span class="arrow-down login--header__arrow"></span>
    </header>

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "loginForm", @class = "login--form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="login--form__input-area input-group">
            <span class="input-group-addon"><span class="fa fa-user"></span></span>

            
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Username" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })


        </div>
        <div class="login--form__input-area input-group">
            <span class="input-group-addon"><span class="fa fa-lock"></span></span>
          

            @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

        </div>
        <label class="login--form__input-area checkbox-label">
            <input type="checkbox" />
            <span class="checkgraph fa fa-check"></span>
            Remember me?
        </label>
        <button type="submit" class="login--form__button btn btn-default" value="submit">sign in</button>
    

}

    <footer class="login--footer text-center">
        <p class="login--footer__text">Or you can login with one of the following</p>
        <div class="login--footer__social-buttons">
            <a href="#"><span class="icon icon-small icon-fb fa fa-facebook"></span></a>
            <a href="#"><span class="icon icon-small icon-tw fa fa-twitter"></span></a>
            <a href="#"><span class="icon icon-small icon-gp fa fa-google-plus"></span></a>
        </div>
        <p class="login--footer__text">dont have an account? <strong>@Html.ActionLink("sign up", "Register") </strong></p>
    </footer>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
